@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&display=swap&subset=korean");

.topbanner {
  position: relative;

  &__data {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  &__back {
    color: white;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row-reverse;
  }

  &__forab {
    position: absolute;
    top: 5%;
  }

  &__title {
    color: white;
    margin: 0;
  }

  &__abs {
    position: absolute;
    bottom: 1%;
  }

  &__sub {
    color: white;
    font-family: "Patua One", cursive;
  }
}

.image {
  height: 500px;
}

.textarea {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.realtext {
  color: white;

  p {
    font-size: 1rem;
    font-family: "Noto Sans KR", sans-serif;
  }

  a {
    font-weight: 700;
    color: rgb(103, 103, 206);
  }

  pre {
    background-color: #212121;
  }
}

.backtext {
  color: white;
  font-size: 1.2rem;
}
