.carousel-container {
  margin: auto;
  //border: 5px solid black;
  overflow: hidden;
  position: relative;
  height: 500px;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.carousel-slide {
  display: flex;
  width: 100%;
}

.bannerimage {
  width: 100%;
}

#prevBtn {
  position: absolute;
  top: 40%;
  left: 0%;
  z-index: 10;
  font-size: 80px;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

#nextBtn {
  position: absolute;
  top: 40%;
  right: 0%;
  z-index: 10;
  font-size: 80px;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}
