@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&display=swap&subset=korean");

.selectBox {
}

.basicText {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
