.mainlayout {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  @media screen and (min-width: 450px) and (max-width: 1200px) {
    background-color: red;
  }

  @media screen and (max-width: 450px) {
    width: 94%;
  }
}

.title {
  font-size: 3rem;
}
