.postarea {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;

  @media screen and (min-width: 450px) and (max-width: 1200px) {
    background-color: red;
  }

  @media screen and (max-width: 450px) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
