@import url("https://fonts.googleapis.com/css?family=Patua+One&display=swap");

.item {
  width: 32%;
  margin-bottom: 1.5rem;

  &__image {
    border-radius: 7px;
    height: 250px;
  }

  &__title {
    color: white;
    margin-top: 5px;
    margin-bottom: 0;
  }

  &__excerpt {
    margin: 0;
    color: rgb(172, 172, 172);
  }

  &__sub {
    font-family: "Patua One", cursive;
    font-size: 1.2rem;
  }
}

#Design {
  color: rgb(168, 201, 23);
}

#Essay {
  color: rgb(199, 112, 221);
}

#React {
  color: rgb(37, 214, 199);
}
